<!DOCTYPE html>

<html>
<head>
  <title>IoT Dashboard</title>
  <script>
    function setPattern(p) {
      fetch('/set_pattern/' + p);
    }

    function setCustom(c) {
      fetch('/set_custom/' + c)
    }

    function refreshData() {
      fetch('/data')
      .then(res => res.json())
      .then(data => {
        document.getElementById("temperature").innerText = data.temperature + " C";
        document.getElementById("pattern").innerText = data.pattern;
      });
    }

    setInterval(refreshData, 2000);
  </script>
</head>
<body>
<h1>IoT Assignment</h1>
<h2>Temperature : <span id="temperature">N/A</span></h2>
<h2>LED Control</h2>
<h3>Current Pattern : <span id="pattern">N/A</span></h3>
  <div class="button-container">
    <button onclick="setPattern(0)">Blink Pattern</button>
    <button onclick="setPattern(1)">Chase Pattern</button>
    <button onclick="setPattern(2)">Random Pattern</button>
    <button onclick="setPattern(3)">Rainbow Pattern</button>
    <button onclick="setPattern(4)">Custom Pattern</button>
  </div>
<h3>Custom Pattern Options</h3>
  <button onclick="setCustom(0)">LED 1</button>
  <button onclick="setCustom(1)">LED 2</button>
  <button onclick="setCustom(2)">LED 3</button>
  <button onclick="setCustom(3)">LED 4</button>
  <button onclick="setCustom(4)">LED 5</button>
  <button onclick="setCustom(5)">LED 6</button>
</body> 

</html>