<!DOCTYPE html>

<html>
<head>
  <title>IoT Dashboard</title>
  <script>
    function setPattern(p) {
      fetch('/set_pattern/' + p);
    }

    function refreshData() {
      fetch('/data')
      .then(res => res.json())
      .then(data => {
        document.getElementById("pattern").innerText = data.pattern;
      });
    }

    setInterval(refreshData, 2000);
  </script>
</head>
<body>
<h1>LED Control</h1>
  <div class="button-container">
    <button onclick="setPattern(0)">Blink Pattern</button>
    <button onclick="setPattern(1)">Chase Pattern</button>
    <button onclick="setPattern(2)">Random Pattern</button>
    <button onclick="setPattern(3)">Rainbow Pattern</button>
  </div>
</body> 

</html>